[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = https://github.com/ClickHouse-Extras/zlib-ng.git
[submodule "contrib/jemalloc"]
	path = contrib/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "contrib/unixodbc"]
	path = contrib/unixodbc
	url = https://github.com/ClickHouse-Extras/UnixODBC.git
[submodule "contrib/base64"]
	path = contrib/base64
	url = https://github.com/powturbo/Turbo-Base64.git
[submodule "contrib/libhdfs3"]
	path = contrib/libhdfs3
	url = https://github.com/ClickHouse-Extras/libhdfs3.git
[submodule "contrib/cppkafka"]
	path = contrib/cppkafka
	url = https://github.com/ClickHouse-Extras/cppkafka.git
[submodule "contrib/h3"]
	path = contrib/h3
	url = https://github.com/uber/h3
[submodule "contrib/libunwind"]
	path = contrib/libunwind
	url = https://github.com/ClickHouse-Extras/libunwind.git
[submodule "contrib/fastops"]
	path = contrib/fastops
	url = https://github.com/ClickHouse-Extras/fastops
[submodule "contrib/sparsehash-c11"]
	path = contrib/sparsehash-c11
	url = https://github.com/sparsehash/sparsehash-c11.git
[submodule "contrib/icudata"]
	path = contrib/icudata
	url = https://github.com/ClickHouse-Extras/icudata.git
[submodule "contrib/replxx"]
	path = contrib/replxx
	url = https://github.com/AmokHuginnsson/replxx.git
[submodule "contrib/ryu"]
	path = contrib/ryu
	url = https://github.com/ClickHouse-Extras/ryu.git
